:root {
  --main-color: #02343f;
  --sub-color: #f0edcc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  color: var(--sub-color);
  background-color: var(--main-color);
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--sub-color);
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  color: var(--main-color);

  > .app {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > .banner {
      > h1 {
        text-align: center;
      }

      > ul {
        display: flex;
        align-items: center;
        justify-content: center;

        > li > button {
          padding: 10px 20px;
          margin: 0 10px;
          border-radius: 20px;
          font-size: 15px;
          /* font-weight: bold; */
          text-transform: uppercase;
        }
      }
    }

    > main {
      height: 100%;
      overflow-y: auto;
      scrollbar-width: 10px;
      scrollbar-color: var(--sub-color);
      scrollbar-face-color: var(--main-color);

      &::-webkit-scrollbar {
        background-color: var(--sub-color);
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
      }

      & > ul > li {
        margin: 10px;
        padding: 10px;
        border: 1px solid var(--main-color);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

        & > div {
          display: flex;
          flex-direction: column;
        }
      }
    }

    > footer {
      text-align: center;
    }
  }
}
